.main-color {
    color: #4824AE;
}

body, * {
    padding: 0;
    margin: 0;
    font-family: 'Questrial', sans-serif;
}

#top-btn{
    position: absolute;
    background-color: rgb(180, 179, 179);
    right: 20px;
    bottom: 14px;
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 100;
    opacity: .45;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#top-btn:hover{
    opacity: .7;
}

#top-btn img{
    transform: rotate(-45deg);
}

.aligner{
    margin: 0 auto !important;
}

main {
    padding: 0px 14px 0px 14px;
}

.containera {
    background-color: #ececec;
    padding: 50px 14px 14px 14px;
}

#headline {
    font-size: 2.7rem;
    line-height: 2.6rem;
    color: #362557;
}

#headline-imgs img:hover{
    opacity: .60 !important;
}

#pres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

#pres-text {
    margin-top: -70px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
}

#h1-pres-text {
    font-size: 3.2rem;
}

#pres-text-desc {
    margin-top: -24px;
    margin-left: 5px;
}

.main-title {
    background-color: #362557;
    color: white;
    padding: 2px;
    border-radius: 20px;
    text-align: center;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#abs-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 0px 0px 0px;
}

.abs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
    padding: 19px 5px 15px 5px;
    flex-direction: column;
    text-align: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding: 17px;
}

.in-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.proj-desc {
    width: 250px;
    text-align: left;
    font-size: 1rem;
    color: #7B7B7B;
}

.proj-title {
    color: #362557;
    font-size: 1.7rem;
}

footer {
    background-color: #1e1d20;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 20px;
}

footer a {
    color: #4824AE;
}

#footer-img-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

#footer-img-div img{
    opacity: .5;
}

#footer-img-div img:hover{
    opacity: .6;
}

.gh-links {
    text-decoration: none;
    color: white !important;
}

.btns {
    background-color: #4824AE;
    color: white;
    padding: 6px 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.btns:hover {
    cursor: pointer;
    background-color: #412199;
    color: white;
}

ul {
    font-weight: bold;
    width: 100%;
}

li {
    padding: 0px;
    background-color: transparent;
}

.centralizer {
    display: flex;
    align-items: center;
    gap: 7px
}

#headline-imgs {
    margin-top: 35px;
}

.show-display {
    display: none;
}

#headline-hr {
    width: 600px;
}

.btn {
    margin-top: 10px;
}

.btn:focus {
    box-shadow: none !important;
}

.btn:hover {
    transform: scale(1.03);
    transition: all .2s;
}

#btn-html {
    background-color: #e45e3c85;
    color: white;
}

#btn-css {
    background-color: #59a9db7e;
    color: white;
}

#btn-js {
    background-color: #e7b24e7e;
    color: white;
}

#btn-bs {
    background-color: #63527e83;
    color: white;
}

#btn-react {
    background-color: #4e4e5f;
    color: white;
}

#btn-git {
    background-color: #808080;
    color: white;
}

#about-me-p{
    text-align: center;
    color: #362557;
    margin-top: 16px;
    width: 300px;
}

@media screen and (max-width: 1023px) {
    #top-btn{
        display: none;
    }

    .main-title{
        width: 100% !important;
    }
   .in-card{
       align-items: center;
       text-align: center;
   }
   .proj-desc-div{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }
   .proj-desc{
       text-align: justify;
       width: 100%;
   }
}

@media screen and (min-width: 640px) {
    .centralizer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px
    }
    .containera {
        height: 300px;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #headline {
        text-align: center;
    }
    #headline-imgs {
        margin-top: 15px;
    }
    .show-display {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .in-card {
        flex-direction: row;
    }
    .proj-desc {
        width: 350px;
    }
    .proj-title {
        font-size: 2.7rem;
    }
    .in-card > img{
        width: 330px;
    }
}

@media screen and (min-width: 800px) {
    #pres {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #headline {
        font-size: 3.4rem;
    }
    #headline-hr {
        width: 750px;
    }
    #h1-pres-text {
        margin-top: 55px;
        font-size: 4rem;
    }
    #pres-img {
        width: 400px;
    }
    .abs {
        width: 250px;
        flex-direction: column;
    }
    #abs-div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        max-width: 1000px;
        text-align: center;
    }
    .abs-img {
        width: 85px;
    }
    #abs-section {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width:1023px) {
    main{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50vh 50vh;
        grid-template-areas: ". am ."
                            ". hh .";
    }

    .main-content{
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        justify-content: center;
    }

    #about-me-p{
        text-align: justify;
        padding: 30px;
        width: 500px;
    }

    #about-me-outter-div{
        box-shadow: 0px 1px 25px rgb(160, 160, 160);
        border-radius: 15px;
        /* border: 1px solid grey; */
        padding: 30px;
        width: 900px;
        margin: 0 auto !important;
    }

    #abs-outter-div{
        border-radius: 15px;
        box-shadow: 0px 1px 25px rgb(160, 160, 160);
        /* border: 1px solid grey; */
        padding: 30px;
        width: 900px;
        margin: 0 auto !important;
        margin-top: 50px !important;
    }

    #proje{
        visibility: hidden;
    }

    #habi{
        visibility: hidden;
    }

    #projs-outter-div{
        border-radius: 15px;
        box-shadow: 0px 1px 25px rgb(160, 160, 160);
        /* border: 1px solid grey; */
        padding: 30px;
        width: 900px;
        margin: 0 auto !important;
        margin-top: 50px !important;
    }

    #about-me-img{
        width: 200px;
    }
    footer{
        margin-top: 50px;
    }
    .main-title{
        width: 840px;
    }
}